/* home */
.home-hero {
    height: 550px;
    background-image: url("cafe.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.home-hero-text {
    color: white;
}

.home-hero-text h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.home-hero-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

.home-hero-text a {
    display: inline-block;
    padding: 12px 25px;

    background-color: #5c4033;
    color: white;

    text-decoration: none;
    border-radius: 5px;
}


/* ================= HOME PREVIEW MENU ================= */

.home-preview {
    text-align: center;
    padding: 60px 70px;
}

.home-preview h1 {
    font-size: 35px;
    color: #4b3025;
    margin-bottom: 10px;
}

.home-preview p {
    color: #666;
    margin-bottom: 35px;
}

.home-preview-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.home-preview-card {
    width: 280px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.home-preview-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.home-preview-card h2 {
    margin-top: 15px;
    color: #4b3025;
}

/* menu */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f1e9;
}

.header {
    background-color: #5c4033;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.nav-links ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #e6c9a8;
}

.menu {
    text-align: center;
    padding: 40px 70px;
}

.menu h1 {
    font-size: 35px;
    color: #4b3025;
    margin-bottom: 10px;
}

.menu p {
    color: #666;
    margin-bottom: 35px;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;

}

.menu-card {
    width: 280px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu-card img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 12px;
    width: 100%;
    max-width: 200px;
    align-self: center;
}

.menu-card h2 {
    margin-top: 15px;
    color: #4b3025;
}

.menu-card a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

/*kontak*/
.contact-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    background: #e0f2fe;
    font-family: Arial, sans-serif;
}

.contact-page .contact-card{
    background: white;
    padding: 35px;
    width: 100%;
    max-width: 350px;

    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.contact-page .contact-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.contact-page .contact-icon {
    font-size: 35px;
    color: #0284c7;

    background: #e0f2fe;
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    margin: 0 auto 20px;

    transition: 0.3s ease;
}

.contact-page .contact-card:hover .contact-icon {
    transform: scale(1.1);
}

.contact-page h1 {
    color: #0f172a;
    font-size: 26px;
    margin-bottom: 15px;
}

.contact-page p {
    color: #64748b;
    font-size: 14px;
    line-height: 1.6;
}

.contact-page h2 {
    color: #0284c7;
    font-size: 23px;
    margin: 20px 0;
}

.contact-page .contact-button {
    display: inline-block;
    background: #0284c7;
    color: white;

    padding: 12px 20px;
    border-radius: 10px;

    text-decoration: none;
    font-size: 14px;
    font-weight: bold;

    transition: 0.3s ease;
}

.contact-page .contact-button:hover {
    background: #d3ba85;
    transform: translateY(-3px);
    box-shadow: 0 5px 12px rgba(2, 132, 199, 0.3);
}